body {
  overflow-x: hidden;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 1.75;
}

a {
  color: #ff4040;
}
a:hover {
  color: #ff0d0d;
}

.text-primary {
  color: #ff4040 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-section {
  padding: 25px 0;
}
.page-section h2.section-heading {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 15px;
}
.page-section h3.section-subheading {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 50px;
  text-transform: none;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.page-section p.section-subheading {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  text-transform: none;
}

@media (min-width: 768px) {
  .page-section {
    padding: 50px 0;
  }
  .page-section h2.section-heading {
    font-size: 40px;
  }
  .page-section h3.section-subheading {
    margin-bottom: 50px;
  }
  .page-section p.section-subheading {
    margin-bottom: 75px;
  }
}
::-moz-selection {
  background: #ff4040;
  text-shadow: none;
}

::selection {
  background: #ff4040;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.modal-footer {
  border-top: none;
  padding-top: 0px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff4040' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff4040' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #ff4040;
  border-color: #ff4040;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ff1a1a !important;
  border-color: #ff1a1a !important;
  color: white;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
  background-color: #212529;
}
#mainNav .navbar-toggler {
  font-size: 28px;
  right: 0;
  padding: 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-brand .sml-logo {
  width: 215px;
  box-shadow: 0px 0px 20px 4px rgba(255, 0, 0, 0.356);
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 80%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ff4040;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    text-align: center;
    border: none;
    background-color: rgba(33, 37, 41, 0.8);
    box-shadow: 0 1px 5px black;
  }
  #mainNav .navbar-brand {
    transition: all 0.3s;
  }
  #mainNav .navbar-brand .sml-logo {
    width: 250px;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    padding: 12px 0;
  }
  #mainNav.navbar-shrink .navbar-brand .sml-logo {
    width: 200px;
  }
}
#section05 a {
  padding-top: 70px;
}

#section05 a span {
  position: absolute;
  width: 56px;
  height: 56px;
  margin-left: -28px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.slideshowContainer {
  position: relative;
  /* Hide the images by default */
  /* Add a pointer when hovering over the thumbnail images */
  /* Position the "next button" to the right */
  /* Container for image text */
}
.slideshowContainer .mySlides {
  display: none;
  animation: fade 0.6s ease-in-out;
  -webkit-animation: fade 0.6s ease-in-out;
  -moz-animation: fade 0.6s ease-in-out;
  /* Number text (1/3 etc) */
}
@keyframes fade {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.slideshowContainer .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.slideshowContainer .slidesContainer {
  position: relative;
}
.slideshowContainer .cursor {
  cursor: pointer;
}
.slideshowContainer .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshowContainer .caption-container {
  text-align: center;
  background-color: #343a40;
  padding: 2px 16px;
  color: white;
}
.slideshowContainer .caption-container .caption-text {
  margin: 1rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.slideshowContainer .slideshowRow {
  display: flex;
  justify-content: space-evenly;
  max-height: 75px;
  /* Six columns side by side */
}
.slideshowContainer .slideshowRow .column {
  max-width: 100px;
  /* Add a transparency effect for thumnbail images */
}
.slideshowContainer .slideshowRow .column img {
  width: 100%;
  height: 100%;
}
.slideshowContainer .slideshowRow .column .demo {
  opacity: 0.6;
}
.slideshowContainer .slideshowRow .column .active,
.slideshowContainer .slideshowRow .column .demo:hover {
  opacity: 1;
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/fondo1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  filter: grayscale(90%);
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  max-width: 50rem;
  margin: 0 auto;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 30px;
  line-height: 36px;
  padding: 25px 0px;
  font-family: "Oleo Script";
}
header.masthead .intro-text .intro-heading h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 25px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 45px;
    line-height: 40px;
    padding: 0px 0px 25px 0px;
    margin-bottom: 25px;
  }
  header.masthead .intro-text .intro-heading h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}
@media (min-width: 992px) {
  .brToShow {
    display: none;
  }
}
#cdo p {
  text-align: justify;
}
#cdo b {
  color: #495057;
}
#cdo br {
  display: block;
}
#cdo h3.section-subheading {
  margin-bottom: 50px;
}
#cdo .smaller {
  font-size: 0.9em;
}
#cdo .cdoGallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cdo #carouselExampleIndicators {
  max-width: 540px;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
}

.bg-light-05 {
  background-color: rgba(248, 249, 250, 0.5019607843);
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#services b {
  color: indianred;
}
#services .brToShow {
  display: none;
}
#services a {
  text-decoration: none;
}
#services p {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  #services .brToShow {
    display: block;
  }
  #services p {
    margin-bottom: initial;
  }
}
#portfolio b {
  color: indianred;
}
#portfolio .card-deck {
  justify-content: center;
}
#portfolio .portfolio-item {
  right: 0;
  max-width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(255, 64, 64, 0.9);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  height: 100%;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  font-size: 1.2em;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio * {
  z-index: 2;
}

@media (min-width: 992px) {
  #portfolio .portfolio-item .portfolio-caption h4 {
    font-size: 1.2em;
  }
}
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
  cursor: pointer;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}
.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}

#nosotros h4 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: justify;
  color: #545b62;
  line-height: 1.5;
}
#nosotros p {
  text-align: justify;
}
#nosotros .highlight {
  color: #ff4040;
  font-weight: 600;
}
#nosotros .highlight:hover {
  color: indigo;
}
#nosotros a {
  text-decoration: none;
}
#nosotros .iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nosotros .iframe-container iframe {
  width: 300px;
  height: 300px;
}

@media (min-width: 576px) {
  #nosotros .iframe-container {
    display: none;
  }
}
@media (min-width: 992px) {
  #nosotros .iframe-container {
    display: flex;
  }
  #nosotros .iframe-container iframe {
    width: 350px;
    height: 350px;
  }
}
.banner {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  width: 100%;
  padding: 22vh 0%;
  height: 0;
}

@media (orientation: landscape) {
  .banner {
    background-attachment: fixed;
  }
}
@media (orientation: portrait) {
  .banner {
    background-attachment: contain;
  }
}
.banner.lazy-bg-loaded {
  background-image: url("../img/banner.webp");
}

@media (min-width: 1200px) {
  .banner {
    padding: 35vh 0%;
  }
}
#clients img {
  width: 100%;
  max-width: 180px;
}
#clients h2,
#clients .logos {
  margin-bottom: 50px;
}
#clients h4 {
  margin-bottom: 30px;
}
#clients p {
  text-align: justify;
}

#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
#contact .flex {
  display: flex;
  flex-direction: column-reverse;
}
#contact .vl {
  display: none;
}
#contact h3,
#contact p,
#contact .section-heading {
  color: #fff;
}
#contact .form-group {
  position: relative;
}
#contact p.help-block {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  left: 20px;
}
#contact p.help-block ul {
  list-style-type: none;
}
#contact h3 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact .contact {
  margin-top: -30px;
  margin-bottom: 30px;
  text-align: center;
}
#contact .contact p {
  font-size: 22px;
  margin-bottom: 0.3em;
}
#contact .contact .email {
  font-size: 20px;
}
#contact .contact .fas, #contact .contact .fab {
  font-size: 25px;
  margin: 10px 20px;
  padding-bottom: 10px;
  color: #fff;
}
#contact .contact .h3ToHide {
  display: none;
}
#contact .form-group {
  margin-bottom: 25px;
}
#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}
#contact .form-group input.form-control {
  height: auto;
}
#contact .form-group textarea.form-control {
  height: 248px;
}
#contact .form-control:focus {
  border-color: #ff4040;
  box-shadow: none;
}
#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 992px) {
  #contact h2 {
    font-size: 50px;
  }
  #contact .contact {
    text-align: left;
    margin-top: 0px;
  }
  #contact .contact .email {
    font-size: 15px;
  }
  #contact .contact .brToHide {
    display: none;
  }
  #contact .contact .vl {
    border-left: 2px solid white;
    height: 248px;
    position: absolute;
    left: 0;
    display: block;
  }
  #contact .contact .h3ToHide {
    display: block;
  }
  #contact .flex {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  #contact .contact .email {
    font-size: 18px;
  }
}
#contact.lazy-bg-loaded {
  background-image: url("../img/contact-image-min4.webp");
}

.footer {
  padding: 25px 0;
  text-align: center;
}
.footer span.copyright {
  font-size: 90%;
  text-transform: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footer .footer-section {
  padding: 10px 0px;
}

@media (min-width: 768px) {
  .footer .footer-section {
    padding: 0px 0px;
  }
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  background-color: #212529;
}
ul.social-buttons li a.instagram {
  position: relative;
  z-index: 1;
}
ul.social-buttons li a.instagram::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  transition: all 0.3s;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  z-index: -1;
  opacity: 0;
}
ul.social-buttons li a.instagram:hover::before {
  opacity: 1;
}
ul.social-buttons li a.whatsapp:active, ul.social-buttons li a.whatsapp:focus, ul.social-buttons li a.whatsapp:hover {
  background-color: #25d366;
}
ul.social-buttons li a.facebook:active, ul.social-buttons li a.facebook:focus, ul.social-buttons li a.facebook:hover {
  background-color: #3b5998;
}/*# sourceMappingURL=agency.css.map */