// Styling for the team section

#team {
  h4 {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: justify;
    color: #545b62;
    line-height: 1.5;
  }
  p {
    text-align: justify;
  }
  .highlight {
    color: $primary;
    font-weight: 600;
    &:hover {
      color: indigo;
    }
  }
  a {
    text-decoration: none;
  }
  .iframe-container{
    display: flex;
    justify-content: center;
    align-items: center;
  iframe {
    width: 300px;
    height: 300px;
  }
}
}

@media (min-width: 576px) {
  #team {
    .iframe-container{
      display: none;
    }
  }
}


@media (min-width: 992px) {
  #team {
    .iframe-container{
      display: flex;
      iframe {
        width: 350px;
        height: 350px;
      }
    }
  }
}
